.page {
  min-height: calc(100vh - 122.4px - 1.5rem);
  max-height: calc(100vh - 122.4px - 1.5rem);
}

@media (max-width: 768px) {
  .page {
    min-height: calc(100vh - 74.4px - 1.5rem);
    max-height: calc(100vh - 74.4px - 1.5rem);
  }
}

.aside {
  max-width: 33%;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .aside {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    min-width: 320px;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.068);
    height: 100%;
  }
  .aside > div {
    width: 100%;
  }
  .hide {
    transform: translateX(500px);
  }
}
