.offersContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 80px;
  gap: 30px;
  /* justify-content: center; */
}
.card {
  display: flex;
  width: 240px;
}
.title {
  margin-right: 150px;
  font-size: 25px;
  color: #3b3b3b;
  margin-bottom: -40px;
  margin-top: 40px;
}
