.badge {
  font-size: 0.75rem;
  flex-basis: calc(100% / 4);
  border-radius: 0 3px 3px 0;
}
.arrow {
  right: 100%;
  top: 0.15px;
  border-radius: 1px;
  border: 11.5px solid transparent;
  border-right-width: 13px !important;
}
