header {
  box-shadow: 0px 3px 10px #0000001a;
}
.main-header {
  padding-left: 4%;
  padding-right: 4%;
}
.search {
  transition: 0.2s;
}
.search:has(input:focus) {
  border-color: var(--secondary-color) !important;
}
.search input {
  outline: none;
}
.button {
  color: var(--main-color);
  border: none;
}
button.button {
  border-right: 2px solid #00000041;
}
@media (min-width: 1200px) {
  a.button {
    border-right: 2px solid #00000041;
  }
}
.bullet {
  width: 8px;
  height: 8px;
  border: 2px solid white;
  transform: translate(10%, 25%);
}
.amount {
  min-width: 15px;
  min-height: 15px;
  background-color: var(--secondary-color);
  font-size: 0.6rem;
  transform: translate(50%, -50%);
}
.aside {
  width: 300px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.351);
  animation: slide-in 0.2s;
}
.slide-out {
  animation: slide-out 0.2s both !important;
}
@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
}
@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}
.notifications {
  top: calc(100% + 1.25rem);
  min-width: 350px;
  animation: apearing 0.2s;
}
.vanishing {
  animation: vanishing 0.2s;
}
@keyframes apearing {
  0% {
    opacity: 0;
  }
}
@keyframes vanishing {
  100% {
    opacity: 0;
  }
}
