.App {
  min-height: 100vh;
}
.outline-none {
  outline: none;
}
.z--1 {
  z-index: -1;
}
.z-1000 {
  z-index: 1000;
}
.text-sec {
  color: var(--secondary-color);
}
.text-main {
  color: var(--main-color);
}
.bg-sec {
  background-color: var(--secondary-color) !important;
}
.bg-main {
  background-color: var(--main-color);
}
.transition-main {
  transition: 0.15s;
}
.border-top-sec {
  border-top-color: var(--secondary-color) !important;
}
.input-focus:focus {
  border-color: var(--secondary-color) !important;
}
.parent-input-focus:has(input:focus) {
  border-color: var(--secondary-color) !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.invalid {
  border-color: red !important;
  background-color: rgb(255, 230, 230) !important;
}
