:root {
  --main-color: rgb(8, 50, 74);
  --secondary-color: rgb(203, 149, 91);
  --gray-color: rgb(48, 47, 47);
  --category-background: rgb(242, 242, 242);
  --card-color: rgb(249, 249, 250);
  --address-color: rgb(102, 102, 102);
  --pink-color: rgb(239, 223, 206);
  --product-text-color: rgb(147, 153, 163);
  --page-background-color: rgb(240, 240, 247);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
main {
  flex: 1;
}
