.info {
  transition: 0.2s;
  border: 1px solid #eee;
}
.info input {
  background-color: transparent;
}
.info svg {
  transition: 0.2s;
  color: var(--address-color);
}
.info:has(input:focus) {
  border-color: var(--secondary-color);
}
.info:has(input:focus) svg {
  color: var(--secondary-color);
}
.invalid {
  border-color: red !important;
  background-color: rgb(255, 230, 230);
}
.invalid svg {
  color: red !important;
}
.hint {
  font-size: 0.8rem;
  color: red;
}
