.auth {
  max-width: 100%;
  max-height: 500px;
  width: 400px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.351);
  transform: translate(-50%, -50%);
  animation: opening 0.2s;
}
.closing {
  animation: closing 0.2s both !important;
}
@keyframes opening {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 30px));
  }
}
@keyframes closing {
  100% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 30px));
  }
}
.close {
  inset: 15px 15px auto auto;
  width: 30px;
  height: 30px;
  color: var(--address-color);
}
.img {
  width: 90px;
}
.hello {
  font-size: 0.9rem;
}
.assumption {
  font-size: 0.8rem;
  color: var(--main-color);
}
.assumption button {
  color: var(--secondary-color);
}
.auth > form {
  width: 90%;
}
.info,
.info svg {
  transition: 0.2s;
}
.invalid {
  border-color: red !important;
  background-color: rgb(255, 230, 230);
}
.invalid svg {
  color: red !important;
}
.active {
  border-color: var(--secondary-color) !important;
}
.active svg {
  color: var(--secondary-color) !important;
}
.hint {
  font-size: 0.8rem;
  color: red;
}
.forgot-password {
  font-size: 0.8rem;
  color: var(--address-color);
  transition: 0.2s;
}
.forgot-password:hover {
  color: var(--main-color);
}
.alert {
  font-size: 0.92rem;
}
